<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
      <label>
        <span>Nombre Completo</span>
        <input type="text" placeholder="Nombre Completo" formControlName="name">
      </label>
      <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('required')">
        Nombre es requerido.
      </div>
      <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('minlength')">
        Minimo 2 caracteres.
      </div>
      <div formGroupName="account">
        <label>
          <span>Correo electronico</span>
          <input type="email" placeholder="Correo electronico" formControlName="email">
        </label>
        <div
          class="error"
          *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
          Correo electronico es requerido
        </div>
        <label>
          <span>Confirmar correo</span>
          <input type="email" placeholder="Confirmar correo" formControlName="confirm">
        </label>
        <div
          class="error"
          *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
          Confirmar el correo es requerido
        </div>
      </div>
      <button type="submit" [disabled]="user.invalid">Registrar</button>
    </form>